
footer {
  padding-top: 3em;
  padding-bottom: 4em;
  background-color: $blauweKleur;
  color: $tekstKleur;
}

footer img {
  margin-left: 4em;
}

footer p {
  margin-left: 4em;
}

#Iddink_group {
  margin-left: 56.5em;
  margin-top: -2.2em;
}

#linkje1 {
  margin-left: 35em;
  margin-top: -2.2em;
}
#linkje2 {
  margin-left: 40em;
  margin-top: -2.2em;
}
#linkje3 {
  margin-left: 46.5em;
  margin-top: -2.2em;
}
#linkje4 {
  margin-left: 51em;
  margin-top: -2.2em;
}
#linkje5 {
  margin-left: 57em;
  margin-top: -2.2em;
}
#linkje6 {
  margin-left: 62em;
  margin-top: -2.2em;
}
